$layout-space: 8px;
$component-space: 4px;

$font-size-xxs: 10px;
$font-size-xs: 14px;
$font-size-s: 16px;
$font-size-m: 20px;
$font-size-ml: 24px;
$font-size-l: 32px;
$font-size-xl: 40px;
$font-size-xxl: 48px;

$line-height-xxs: 0.75rem;
$line-height-xs: 0.87rem;
$line-height-s: 1rem;
$line-height-m: 1.25rem;
$line-height-ml: 1.5rem;
$line-height-l: 2rem;
$line-height-xl: 2.5rem;
$line-height-xxl: 3rem;
